BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
Language: Cpp

# K&R style (old C style)
BreakBeforeBraces: Attach

# keep it deterministic & readable
ColumnLimit: 100
ReflowComments: true

# includes
SortIncludes: true
IncludeBlocks: Regroup